extends ./default.pug

append preset
  -
    let queries = [], qpages = []
    let rootpath = ""
    if(page.attributes.query && page.attributes.query.root) rootpath = `/${page.attributes.query.root}/`
    else rootpath = page.meta.permalink


    qpages = pages.filter(e => e.attributes.layout == "event"
                          )

    function addQuery(q, n){
      if( typeof q === "string" ){ queries.push( {"type": n, "query": q} ) }
      else if( typeof q === "object" && Array.isArray(q) ){
        for( c = 0; c < q.length; c++ ){
          queries.push( {"type": n, "query": q[c]} )
        }
      }
    }

    if( page.attributes.query ) {

      const query = page.attributes.query

      // front-matter のquery設定があれば適用します

      function pathFilter(q, qpages){
        return qpages.filter(function(e,i,a){
          if( typeof q === "string" ){
            return e.meta.permalink.indexOf(`${rootpath}${q}/`) == 0
          } else if (typeof q === "object" && Array.isArray(q) ){
            for( c = 0; c < q.length; c++ ){
              if( e.meta.permalink.indexOf(`${rootpath}${q[c]}/`) == 0 ) return true
            }
          }
        })
      }

      if( query.path ) qpages = pathFilter( query.path, qpages )
      if( query.directory ) qpages = pathFilter( query.directory, qpages )
      if( query.directories ) qpages = pathFilter( query.directories, qpages )

      if( query.place || query.place ) addQuery( query.place || query.place, "place" )
      if( query.keyword || query.keywords ) addQuery( query.keyword || query.keywords, "keywords" )
      if( query.player || query.players ) addQuery( query.player || query.players, "players" )
      if(queries.length > 0){
        qpages = qpages.filter(function(e,i,a){
          for( let m = 0; m < queries.length; m++ ){
            if( !!e.attributes[queries[m].type] ){
              let type = typeof(e.attributes[queries[m].type]) === 'string' ? new Array(e.attributes[queries[m].type]) : e.attributes[queries[m].type]  // ["3DCG/Unity", "モーションキャプチャ"]
              for( let n = 0; n < type.length; n++ ){                  // n=0 → "3DCG/unity"
                let search_arr = type[n].split('/')                       // ["3DCG", "unity"]
                let search_str = ''                                       // ""
                for( let o = 0; o < search_arr.length; o++ ){             // ""・"3DCG"                | "3DCG/"・"unity"
                  search_str = search_str + search_arr[o]                 // "3DCG"                    | "3DCG/unity"
                  if(search_str == queries[m].query) return true
                  search_str = search_str + '/'
                }
              }
              // if( e.attributes[queries[m].type].find(f => f === queries[m].query ) !== undefined ) { return true }
            }
          }
          return false
        })
      }
    }
    qpages.sort(function(a,b) {
      if( new Date(a.attributes.since) > new Date(b.attributes.since)) { return 1 } else { return -1 }
    })

block title
  title #{page.attributes.title} - #{site.name}

block main

  #main
    .py-5
      h1.p-2 #{page.attributes.title}
      .container-fluid
        div
          != getTL(main_html)
        
        #event_index.mt-5
          if qpages.length > 0
            h2.h4.my-2.px-3.py-2.day#day1.text-info.border.border-info.rounded 1日目 6月2日(土)
            if new Date(qpages[0].attributes.since) > new Date('2018-06-03T00:00:00+09:00')
              p.px-xl-3.px-1.py-0.my-1 なし
              h2.h4.my-2.px-3.py-2.day#day2.text-danger.border.border-danger.rounded 2日目 6月3日(日)
            each thispage, i in qpages
              a(href=`${site.url.path}${thispage.meta.permalink}`)
                +article(thispage)
              if (qpages[i+1] && new Date(thispage.attributes.since) < new Date('2018-06-03T00:00:00+09:00') && new Date(qpages[i+1].attributes.since) > new Date('2018-06-03T00:00:00+09:00'))
                h2.h4.my-2.px-3.py-2.day#day2.text-danger.border.border-danger.rounded 2日目 6月3日(日)
            if new Date(qpages[qpages.length - 1].attributes.since) < new Date('2018-06-03T00:00:00+09:00')
              h2.h4.my-2.px-3.py-2.day#day2.text-danger.border.border-danger.rounded 2日目 6月3日(日)
              p.px-xl-3.px-1.py-0.my-1 なし

mixin article(thispage)
  - let since = moment(thispage.attributes.since)
  article.event
    div.event-time
      | #{since.format('LT')} 
      +fa_fw('angle-double-right')
    h3.event-title
      | #{thispage.attributes.title} 
      if (!page.attributes.query || !page.attributes.query.place)
        span.font-weight-normal @#{thispage.attributes.place}
    if (thispage.attributes.description != null && thispage.attributes.description != '')
      p.event-description.p-0.m-0
        | #{thispage.attributes.description}
