extends ./default.pug


block main
  -
    const since = moment(page.attributes.since)
    const until = moment(page.attributes.until)
  #main
    .py-5
      - let mtime = new Date(page.meta.mtime)
      article#article_maincontent
        header
          h1.p-2= page.attributes.title
          .container-fluid.mt-2
            p= page.attributes.description ? page.attributes.description : ''
            p.mb-0
              b 場所: 
              | #{page.attributes.place}
              br
              b 日時: 
              | #{(since.toDate() < new Date('2018-06-03T00:00:00+09:00')) ? '1日目' : '2日目'} #[time(datetime=since.toJSON())= since.format('LT')] - #[time(datetime=until.toJSON())= until.format('LT')]
        if(headings.length > 1)
          #article_sidenav.my-2.p-3.bg-light
            +toc( headings, 2, "ul", "list-unstyled ml-3 page-index")
        section.pt-2.pb-4
          .container-fluid
            if(page.attributes.links)
              div.mb-2.p-0
                each link in page.attributes.links
                  a(href=link.url).btn.btn-info.btn-sm= link.title
          .container-fluid!= main_html
        footer
          .container-fluid
            small.text-muted
              ul.list-unstyled
                li
                  +fa_fw("clock")
                  time(datetime=page.meta.mtime) #{mtime.getFullYear()}年#{mtime.getMonth()+1}月#{mtime.getDate()}日 #{`00${mtime.getHours()}`.slice(-2)}:#{`00${mtime.getMinutes()}`.slice(-2)}
                  |  更新