extends ./default.pug


block main
  -
    const since = moment(page.attributes.since)
    const until = moment(page.attributes.until)
  #main
    .py-5
      - let mtime = new Date(page.meta.mtime)
      article#article_maincontent
        header.w-100.p-2
          h1= page.attributes.title
        if(headings.length > 1)
          #article_sidenav.my-2.p-3.bg-light
            +toc( headings, 2, "ul", "list-unstyled ml-3 page-index")
        section.pt-2.pb-4
          .container-fluid
            p.font-weight-bold ¥#{page.attributes.price}-
            if(page.attributes.allergens)
              p
                b アレルギー物質: 
                each allergen in page.attributes.allergens
                  | #{allergen}
            p= page.attributes.description ? page.attributes.description : ''
          .container-fluid!= main_html
        footer
          .container-fluid
            small.text-muted
              ul.list-unstyled
                li
                  +fa_fw("clock")
                  time(datetime=page.meta.mtime) #{mtime.getFullYear()}年#{mtime.getMonth()+1}月#{mtime.getDate()}日 #{`00${mtime.getHours()}`.slice(-2)}:#{`00${mtime.getMinutes()}`.slice(-2)}
                  |  更新